<div class="box">
 <p style="color: white; text-align: center;padding-top: 10px;"> New Time Slots
</p>
</div>

<div style="font-size: 12px">
  <mat-form-field appearance="outline" style="padding-top: 20px;">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</div>
<div mat-dialog-actions  fxLayout="row" fxLayoutAlign="end end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button style="background-color: #4a5d3b; color: aliceblue;     width: 120px;
    height: 40px;">Create</button>
  <!-- <button mat-flat-button style="color: #4a5d3b;"> Create </button> -->
</div> 